<!DOCTYPE html>
<html lang="en">
    {% block head %}{% include "head.html" %}{% endblock %}
<body>
    {% block navbar %}{% include "navbar.html" %}{% endblock %}
    {% block content %}{% endblock content %}
    {% comment %} <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © Copyright:
          <p class="text-dark d-inline"> Built by Aftab </p>
        </div>
        <!-- Copyright -->
      </footer> {% endcomment %}
</body>
</html>