{% extends "base.html" %} {% load static %}
{% block content %}
<div class="container">
    <div class="logo text-center mt-5">
        <span class="mb-0 h1 mx-3"><i class="fa-brands fa-youtube"></i> AftabTube</span> 

    </div>
    <form class="mx-2 my-auto d-inline" method="get" action="/videos/">
   <div class="input-group">
      <input type="text" name="query" class="form-control" placeholder="Enter your video url here..">
     
    </div>
    <span class="d-block text-center mt-3">

        <input class="button" type="submit"  style="width: 20rem;" value="Search"/>
        </span>
</form>


</div>
{% endblock content %}